extends ../layout

block content

    .row
        .col-xs-12.col-md-8.col-md-offset-2
            h2 Liste des utilisateurs
            if listeUsers
                table.table
                    tr.row
                        th.col-xs-2 Pseudo
                        th.col-xs-2 Date de création
                        th.col-xs-2 Dernière connection
                        th.col-xs-2 Adresse Mail
                        th.col-xs-2 Droits
                    for userManaged in listeUsers
                        tr.row
                            td
                                a(href='/admin/user/#{userManaged._id}') #{userManaged.pseudo}
                            td #{moment(userManaged.dateCreation).format("DD-MM-YYYY  h:mm:ss a")}
                            td #{moment(userManaged.derniereConnection).format("DD-MM-YYYY  h:mm:ss a")}
                            td #{userManaged.mail}
                            td #{userManaged.droits}
                a.btn.rose.col-xs-12(href='/admin/suppressionInactifs') PURGER COMPTES INACTIFS
    include ../footer.jade