extends ../layout

block content

    .row
        #divPhotoProfil.col-xs-12.col-md-4.bleu
            .row
                #imgProfil
                    if(profil.photoProfil)
                        img(src="../../#{profil.photoProfil}", title="#{profil.pseudo}")
                    else
                        img(src='../../images/uploads/photoProfil/photoProfilDefault.jpg', title="Votre photo")
            #presentationMurUser.row.text-left
                br
                p #{profil.pseudo}
                if(profil.description && profil.description.nom)
                    p Nom: #{profil.description.nom}
                if(profil.description && profil.description.prenom)
                    p Prénom: #{profil.description.prenom}
                if(profil.description && profil.description.age)
                    p Date de naissance: #{moment(profil.description.age).format("DD-MM-YYYY")}
                if(profil.coordonnees && profil.coordonnees.adresse && profil.coordonnees.adresse.adresseNumber)
                    p Adresse:
                    p #{profil.coordonnees.adresse.adresseNumber} #{profil.coordonnees.adresse.adresseRue}
                    p #{profil.coordonnees.adresse.adresseCP} #{profil.coordonnees.adresse.adresseVille}
                if(profil.coordonnees && profil.coordonnees.telephone)
                    p Téléphone: #{profil.coordonnees.telephone}
                p Création du compte: #{moment(profil.dateCreation).format("DD-MM-YYYY")}
                p Dernière connection: #{moment(profil.derniereConnection).format("DD-MM-YYYY")}
                p Nombre d'amis: 
                     a(href='/network/friends/#{profil._id}', title="Voir les amis de #{profil.pseudo}") #{profil.listeAmis.length}
                p Nombre de posts: #{profil.listePosts.length}
                if(profil.description && profil.description.presentation)
                    p Présentation:
                    p.text-justify #{profil.description.presentation}
        #divListeAmis.col-xs-12.col-md-4.jaune
                h4 LISTE DES AMIS
                ul
                    if(profil.listeAmis.length)
                        each ami in profil.listeAmis
                            li.bleu.text-left
                                a(href='/network/mur/#{ami._id}', title="profil de #{ami.pseudo}")
                                    if(ami.photoPofil)
                                        img.miniaturesPhotoprofils(src="../../#{ami.photoProfil}", title="#{ami.pseudo}")
                                    else
                                        img.miniaturesPhotoprofils(src='../../images/uploads/photoProfil/photoProfilDefault.jpg', title="Votre photo")
                                    span #{ami.pseudo}
                    else
                        li.bleu Cet utilisateur n'a pas encore d'amis!?!
    .row
        .col-xs-12.col-md-offset-3.col-md-6.text-left
            h1 Management de #{profil.pseudo} !
            h2 Liste des articles:
                if(listeArticles)
                    ul
                        each article in listeArticles
                            li(id="art- #{article._id}")
                                p #{article.nouvelArticle.auteurPseudo} a écrit :
                                p le #{moment(article.nouvelArticle.dateCreation).format("DD-MM-YYYY")}
                                p #{article.nouvelArticle.contenu}
                                p sur le mur de #{article.nouvelArticle.profilPseudo}
                            if(article.nouvelArticle.reponses.length)
                                ul
                                    each reponse in article.nouvelArticle.reponses
                                        li(id="rep-#{reponse.id}")
                                            p #{reponse.auteurPseudo} a répondu :
                                            p #{reponse.contenu}
                            else
                                p Il n'y a pas encore de réponse
                else
                    p Il n'y a pas encore d'article sur ce profil
                                
                                


                                
                                
                                
                                
                                
                                
                                
    include ../footer.jade