extends ../layoutNetwork

block contentNetwork
    .row
        #divPhotoProfil.col-xs-12.col-md-4.bleu
            .row
                #imgProfil
                    if(profil.photoProfil)
                        img(src="../../#{profil.photoProfil}", title="#{profil.pseudo}")
                    else
                        img(src='../../images/uploads/photoProfil/photoProfilDefault.jpg', title="Votre photo")
            #presentationMurUser.row.text-left
                br
                p #{profil.pseudo}
                if(profil.description && profil.description.nom)
                    p Nom: #{profil.description.nom}
                if(profil.description && profil.description.prenom)
                    p Prénom: #{profil.description.prenom}
                if(profil.description && profil.description.age)
                    p Date de naissance: #{moment(profil.description.age).format("DD-MM-YYYY")}
                if(profil.coordonnees && profil.coordonnees.adresse && profil.coordonnees.adresse.adresseNumber)
                    p Adresse:
                    p #{profil.coordonnees.adresse.adresseNumber} #{profil.coordonnees.adresse.adresseRue}
                    p #{profil.coordonnees.adresse.adresseCP} #{profil.coordonnees.adresse.adresseVille}
                if(profil.coordonnees && profil.coordonnees.telephone)
                    p Téléphone: #{profil.coordonnees.telephone}
                p Création du compte: #{moment(profil.dateCreation).format("DD-MM-YYYY")}
                p Dernière connection: #{moment(profil.derniereConnection).format("DD-MM-YYYY")}
                p Nombre d'amis: 
                     a(href='/network/friends/#{profil._id}', title="Voir les amis de #{profil.pseudo}") #{profil.listeAmis.length}
                p Nombre de posts: #{profil.listePosts.length}
                if(profil.description && profil.description.presentation)
                    p Présentation:
                    p.text-justify #{profil.description.presentation}
        #divListeAmis.col-xs-12.col-md-4.jaune
                h4 LISTE DES AMIS
                ul
                    if(profil.listeAmis.length)
                        each ami in profil.listeAmis
                            li.bleu.text-left
                                a(href='/network/mur/#{ami._id}', title="profil de #{ami.pseudo}")
                                    if(ami.photoPofil)
                                        img.miniaturesPhotoprofils(src="../../#{ami.photoProfil}", title="#{ami.pseudo}")
                                    else
                                        img.miniaturesPhotoprofils(src='../../images/uploads/photoProfil/photoProfilDefault.jpg', title="Votre photo")
                                    span #{ami.pseudo}
                    else
                        li.bleu Tu n'as pas encore d'amis!?!
    .row
        col-xs-12.col-md-offset-2.col-md-8.text-left
            h1 Bienvenue chez #{profil.pseudo} !
    if(user.id == profil._id || profil.isFriend)
        .row
            col-xs-12.col-md-offset-2.col-md-8.text-left.formArticles
                h2 Ecrire un post !
                form(id="form_articles", action="/network/mur/newArticle", method="POST")
                    textarea.col-xs-12(id="textareaArticles", name="area1", style="height: 100px;", required) Exprime toi ici!
                    input.col-xs-12.btn.btn-success.btn-lg(type="submit", value="PUBLIER")
    .row
        #listeArticles.col-xs-12.col-md-offset-2.col-md-8.text-left
            if(profil.articlesProfil)
                each item in profil.articlesProfil
                    li !{item}
    if(user.photoProfil)
        script.
            var profil = {
                id: '!{profil._id}',
                pseudo: '!{profil.pseudo}',
                isFriend: '!{profil.isFriend}'
            };
            var user = {
                id: '!{user.id}',
                pseudo: '!{user.pseudo}',
                photoProfil: '!{user.photoProfil}'
            };
    else
        script.
            var profil = {
                id: '!{profil._id}',
                pseudo: '!{profil.pseudo}',
                isFriend: '!{profil.isFriend}'
            };
            var user = {
                id: '!{user.id}',
                pseudo: '!{user.pseudo}'
            };
    script(type='text/javascript', src='../../javascripts/nicEdit.js')
    script(type='text/javascript') bkLib.onDomLoaded(nicEditors.allTextAreas);
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript') var socket = io('http://localhost:3001')
    script(type='text/javascript', src='../../javascripts/networkMurs.js')
    include ../../footer.jade