extends ../layoutNetwork

block contentNetwork
    .row
        nav.menuIntern
            ul
                li.rose
                    a(href='/users/edition', title='Edite ton profil') Edition Profil
                li.bleu
                    a(href='/users/deconnection', title='Déconnecte toi') Deconnection
                    
                if user && (user.droits == 'god' || user.droits == 'demiGod')
                    li.jaune
                        a(href='/admin/listeUsers', title='Administration users') God's place
                else
                    li.jaune
                        a(href='/users/suppression', title='Supprime ton profil') Suppression
        nav.menuNetwork
            ul
                li.rose
                    a(href='/network/messagerie/ecrire', title='Ecris un Message Privé!') Ecrire Message
                li.bleu
                    a(href='/network/tchat', title="Let's Talk!") Tchat
                li.jaune
                    a(href='#', title='En cours de fabrication') Forum
        .row#listeMessages
            form#triMessages.col-xs-12.col-md-offset-3.col-md-8(action="#", method="POST")
                label.selectAffichage.col-xs-3 Demandes d'amitié
                    input#inputDemandes.col-xs-1(type="checkbox" name="input-demandeAmis")
                label.selectAffichage.col-xs-3 Messages Envoyés
                    input#inputEnvoyes.col-xs-1(type="checkbox" name="input-messagePrive-envoyes")
                label.selectAffichage.col-xs-3 Messages Reçus
                    input#inputRecus.col-xs-1(type="checkbox" name="input-messagePrive-recus")
            table.col-xs-12.col-md-offset-2.col-md-8.text-center
                tr
                    th.text-center Sélection
                    th.text-left Emetteur
                    th.text-left Destinataire
                    th.text-left Titre
                    th.text-left Date réception
                if(listeMessages)
                    each message, index in listeMessages
                        tr(id="message-#{message.id}-#{message.envoyeParId}", data-type="#{message.dataType}")
                            td
                                if(message.dataType != 'demandeAmis')
                                    input.selectedInputs.col-xs-9(type="checkbox" name="message-#{message.id}")
                                else
                                    if(user.id != message.envoyeParId)
                                        input.selectedInputs.col-xs-9(type="checkbox" name="message-#{message.id}")
                            td.tdMessages.text-left #{message.envoyeParPseudo}
                            td.tdMessages.text-left #{message.recuParPseudo}
                            td.tdMessages.text-left #{message.titre}
                            td.tdMessages.text-left #{moment(message.date).format("DD-MM-YYYY")}

                
    if(user.photoProfil)
        script.
            var user = {
                id: '!{user.id}',
                pseudo: '!{user.pseudo}',
                photoProfil: '!{user.photoProfil}'
            };
    else
        script.
            var user = {
                id: '!{user.id}',
                pseudo: '!{user.pseudo}'
            };
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript') var socket = io('http://localhost:3001')
    script(type='text/javascript', src='../../javascripts/messagerie.js')
    include ../../footer.jade