extends ../network/layoutNetwork

block contentNetwork
    .row
        nav.menuIntern
            ul
                li.rose
                    a(href='/users/edition', title='Edite ton profil') Edition
                li.bleu
                    a(href='/users/deconnection', title='Déconnecte toi') Deconnection
                    
                if user && (user.droits == 'god' || user.droits == 'demiGod')
                    li.jaune
                        a(href='/admin/listeUsers', title='Administration users') God's place
                else
                    li.jaune
                        a(href='/users/suppression', title='Supprime ton profil') Suppression
        nav.menuNetwork
            ul
                li.rose
                    a(href='/network/messagerie/own', title='Check tes mess!') Messagerie
                li.bleu
                    a(href='/network/tchat', title="Let's Talk!") Tchat
                li.jaune
                    a(href='/network/forum', title='Forum') Forum
                    
    .container
        .col-xs-12.col-md-offset-2.col-md-8
            if userManaged
                h2 Administration du compte de #{userManaged.pseudo}
                form(action='./traitementEdition', method='post')
                  label(for='droitsUserManaged') Droits utilisateur:
                  select.col-xs-offset-1#droitsUser(name='droitsUserManaged')
                    if userManaged.droits == 'user'
                        option(value='user', selected='selected') User
                    else
                        option(value='user') User
                    if userManaged.droits == 'demiGod'
                        option(value='demiGod', selected='selected') Demi-Dieu
                    else
                        option(value='demiGod') Demi-Dieu
                    if userManaged.droits == 'god'
                        option(value='god', selected='selected') Dieu
                    else
                        option(value='god') Dieu
                  input.hidden(name='pseudoUserManaged', value='#{userManaged.pseudo}')
                  .row
                    input.btn.jaune.col-xs-6(type='submit', value='VALIDER')
                    a.btn.rose.col-xs-6(href='./suppression?pseudoUserManaged=#{userManaged.pseudo}') SUPPRESSION
            else
                br
                br
                h2 Welcome #{user.pseudo}!
                br
                .row
                    .col-xs-offset-3
                        #imgProfil
                            a(href="/users/editPhotoProfil", title="Change ta photo de profil!")
                                if(user && user.photoProfil)
                                    img(src='../#{user.photoProfil}', title="#{user.pseudo}")
                                else
                                    img(src='../images/uploads/photoProfil/photoProfilDefault.jpg', title="#{user.pseudo}")
                br
                p Bienvenue sur mon site! Tu est maintenant un membre très prisé de mon fan-club très privé!
                br
                p En t'inscrivant, tu as gagné la possibilité de m'envoyer un message ou de jouer avec tes amis à mon super jeu multi-joueurs!
                br
                p Alors n'hésite plus, n'attends pas plus longtemps et profite de mon site!
                br
                br
        .col-xs-12.col-md-8.col-md-offset-2.text-left
            h2 Rappel des informations:
            if userManaged
                .row
                    h3 Informations obligatoires
                    p Pseudo: #{userManaged.pseudo}
                    
                    
                    p Droits: #{userManaged.droits}
                    p Mail: #{userManaged.mail}
                    p Date de création du compte: #{moment(userManaged.dateCreation).format("DD-MM-YYYY")}
                    p Date de dernière connection: #{moment(userManaged.derniereConnection).format("DD-MM-YYYY")}
                .row
                    h3 Qui est-il?
                    if userManaged.description
                        if usermanaged.description.nom
                            p Nom: #{userManaged.nom}
                        else
                            p Nom: Pas encore rempli.
                        if usermanaged.description.prenom
                            p Prénom: #{userManaged.prenom}
                        else
                            p Prénom: Pas encore rempli.
                        if usermanaged.description.age
                            p Date de naissance: #{userManaged.age}
                        else
                            p Date de naissance: pas encore rempli.
                    else
                        p L'utilisateur n'a pas encore complété son profil.
                .row
                    h3 Comment le joindre?
                    if userManaged.coordonnees
                        if userManaged.coordonnees.adresse
                            p N° #{userManaged.coordonnees.adresseNumber} #{userManaged.coordonnees.adresseRue} #{userManaged.coordonnees.adresseCP}
                        else
                            p Adresse: pas encore rempli.
                    else
                        p L'utilisateur n'a pas encore renseigné ses coordonnées
            else
                p Pseudo: #{user.pseudo}
                p Droits: #{user.droits}
                p Mail: #{user.mail}
                p Date de création du compte: #{moment(user.dateCreation).format("DD-MM-YYYY")}
                p Date de dernière connection: #{moment(user.derniereConnection).format("DD-MM-YYYY")}
        
    include ../footer